listening-port=3478
external-ip={{ freeswitch_public_ip }}
fingerprint
use-auth-secret
static-auth-secret={{ coturn_secret }}
realm={{ freeswitch_domain }}
no-cli
no-loopback-peers
no-multicast-peers
min-port=49160
max-port=49260
