<configuration name="xml_curl.conf" description="Olamide XML gateway">
  <bindings>
    <binding name="olamide">
      <param name="gateway-url" value="{{ freeswitch_xml_url | e }}" bindings="directory|dialplan"/>
      <param name="gateway-credentials" value="olamide:{{ freeswitch_xml_password | e }}"/>
      <param name="auth-scheme" value="basic"/>
      <param name="timeout" value="3"/>
      <param name="enable-ssl-verifyhost" value="true"/>
      <param name="enable-ssl-verifypeer" value="true"/>
    </binding>
  </bindings>
</configuration>
